In [9]:
60//7

8

In [11]:
print(60//7, 'weeks and', 60%7, 'days' )

8 weeks and 4 days

In [2]:
print(60%7)

4

In [3]:
print(0.1+0.1+0.1)

0.30000000000000004

In [4]:
print("hey you 'girl'")

hey you 'girl'

In [5]:
print("I'm good")

I'm good

In [7]:
print("I\'m good 'girl'")

I'm good 'girl'

In [11]:
test = "This is really a long piece of text and we are going use it for practice"
print(test[:32] + test[52:])

This is really a long piece of t use it for practice

In [16]:
f = open('test.txt')
file_data = f.read()
f.close()

print(file_data)

Name 	Sex
Deorah	Female
Joshua	Male

In [18]:
f = open('MAINLOG2.las')
file_data2 = f.read()
f.close()

print(file_data2)

~Version Information
 VERS.                2.00:   CWLS log ASCII Standard -VERSION 2.00
 WRAP.                  NO:   One line per frame
~Well Information Block
#MNEM.UNIT                  Well Data                   Data Description
#----.----   ----------------------------------------   -------------------------------
 STRT.FT                                     3350.000 : Starting Depth
 STOP.FT                                     6357.000 : Ending Depth
 STEP.FT                                        0.250 : Level Spacing
 NULL.                                      -999.2500 : Absent Value
 COMP.       CONOIL                                   : Company
 WELL.       OSARI_3                                  : Well
 FLD .       OSAR1                                    : Field
 LOC .                                                : Location
 CNTY.       OSARI                                    : County
 STAT.       DELTA                                    : State
 CTRY.       NIGERIA                                  : Country
 SRVC.       Baker Hughes                             : Service Company
 DATE.       Wed Jul 19 08:57:46 2023 Z+1             : Log Date
 API .                                                : API Number
 UWI .                                                : Unique Well ID
~Curve Information Block
#MNEM    .UNIT        API Codes     Curve Description
#--------.--------   ------------   ---------------------------------------------------
50

In [26]:
sum = 0
for multiple in range(1000):
    if multiple%3 == 0 or multiple%5 == 0:
        sum += multiple
        multiple+=1
print(sum)

233168

In [38]:
ages = ["1","2","3"]
ages.append("4")
print(ages)

['1', '2', '3', '4']

In [ ]:
2+2